<div class="app-body daily" >
  <div class="card-container"></div>
  <div id="vcomments"></div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/valine/1.4.14/Valine.min.js"></script>
  <script>
    new Valine({
      el: '#vcomments',
      appId: '<%= theme.comment.valine.appId %>',
      appKey: '<%= theme.comment.valine.appKey %>',
      placeholder: "每日打卡",
      pageSize: '<%= theme.comment.valine.pageSize %>',
    })
  </script>
</div>
