<div id="vcomments"></div>
<script src="/js/Valine.min.js"></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%= theme.comment.valine.appId %>',
        appKey: '<%= theme.comment.valine.appKey %>',
        placeholder: "<%= theme.comment.valine.placeholder %>",
        pageSize:'<%= theme.comment.valine.pageSize %>',
    })
</script>
