<aside class="catalog-container">
  <div class="toc-main">
    <div class="toc-title">目录</div>
    <% if (toc(page.content) !== ""){ %>
      <%- toc(page.content, { "class": "toc-nav", "list_number": false }) %>
    <% } %>
  </div>
</aside>

<div class="mobile-catalog-container"> 
  <div class="toc-main">
    <div class="toc-title">目录</div><span>(上下划动)</span>
    <% if (toc(page.content) !== ""){ %>
      <%- toc(page.content, { "class": "toc-nav", "list_number": false }) %>
    <% } %>
  </div>
</div>